---
import Icon from "astro-icon"

import BaseLayout from "@src/layouts/BaseLayout.astro"
import Link from "@src/components/Link.astro"
import Title from "@src/components/Title.astro"
import Project from "@src/components/Project.astro"

import { AVATAR } from "@content/metadata.json"
import { Content as AboutMe } from "@content/about-me.md"

/** @see `/public/decap-config.yml` for more details */
const projects = await Astro.glob<{
  title: string
  createdAt: string
  tags?: string[]
  githubUrl?: string
  liveUrl?: string
}>("../../content/projects/*.md")
---

<BaseLayout>
  <!-- About me Section -->
  <section class="mb-8 flex w-full flex-col items-center justify-between px-3 md:mt-8 md:flex-row">
    <!-- <img
      class="m-8 h-72 w-72 rounded-full object-cover shadow-2xl shadow-black"
      src={AVATAR}
      alt="Dmitriy Kagno Avatar"
    /> -->

    <about class="flex w-full flex-col items-start md:w-auto">
      <head class="flex flex-col justify-start md:justify-center">
        <hook class="text-2xl sm:flex sm:items-end sm:gap-2">
          <span class="mb-2 flex items-end gap-2 sm:mb-0">
            <img src="/hand_wave.gif" class="h-10 w-10" />
             Hey there,
          </span>
           My name is
          <span class="text-orange-400">Dmitriy</span>
           aka
        </hook>

        <span
          class="animate-gradient bg-gradient-to-r from-yellow-300 via-orange-400 to-orange-600 bg-[length:1000%] bg-clip-text py-2 pb-3 text-6xl text-transparent sm:text-7xl"
        >
          OrangeRed
        </span>
      </head>

      <h2 class="my-4 text-3xl tracking-tight">
        <Title title="About me" />
      </h2>

      <article class="prose prose-invert prose-a:text-yellow-500 max-w-full">
        <AboutMe />
      </article>
    </about>
  </section>

  <!-- Projects Section -->
  <section class="group/title my-10 px-3 pb-6">
    <h2 class="text-3xl tracking-tight">
      <Title title="Projects" />
    </h2>

    <p class="mb-8 mt-4 w-full font-normal leading-7 text-zinc-100/90">
      I am a big advocate of learning by doing.
      <br />
       Here are some of the things that I have built in my spare time.
    </p>

    <projects class="flex flex-col gap-4">
      {
        projects
          .sort((left, right) =>
            new Date(left.frontmatter.createdAt) < new Date(right.frontmatter.createdAt) ? 1 : -1,
          )
          .map(({ frontmatter, Content }) => (
            <Project title={frontmatter.title} tags={frontmatter.tags}>
              {frontmatter.githubUrl && (
                <Link url={frontmatter.githubUrl}>
                  <Icon name="fa:github" class="z-20 h-5 w-5" />
                </Link>
              )}

              {frontmatter.liveUrl && (
                <Link url={frontmatter.liveUrl}>
                  <Icon name="fa-solid:external-link-alt" class="z-20 h-5 w-5" />
                </Link>
              )}

              <Content slot="body" />
            </Project>
          ))
      }
    </projects>
  </section>
</BaseLayout>
