---
import Icon from "astro-icon"

import BaseLayout from "@src/layouts/BaseLayout.astro"

import NavLinks from "@src/components/NavLinks"
import Title from "@src/components/Title"
import Hero from "@src/components/Hero"
import Technology from "@src/components/Technology"
import Project from "@src/components/Project"

import { SOCIAL_LINKS, PROJECTS } from "@src/Data"
---

<BaseLayout>
  <!-- Header Section -->
  <nav class="px-3">
    <ul class="flex justify-end md:justify-start list-none gap-5 w-full">
      {
        SOCIAL_LINKS.map((link) => {
          return (
            <NavLinks newTab url={link.url}>
              <Icon class="w-5 h-5 mr-2" name={link.icon} />
              <span class="hidden md:inline tracking-[0.2rem] font-semibold uppercase">
                {link.title}
              </span>
            </NavLinks>
          )
        })
      }
    </ul>
  </nav>

  <!-- Hero + About me Section -->
  <Hero />

  <!-- Technologies Section -->
  <section
    class="flex flex-col justify-between py-6 px-3 mb-8 group/title relative"
  >
    <!-- Technologies Title -->
    <h2 class="mb-4 text-3xl tracking-tight">
      <Title title="Technologies" client:visible />
    </h2>
    <!-- Technologies Blurb -->
    <p class="w-full mb-8 font-normal leading-7">
      I love exploring new libraries, programming languages and frameworks.
      <br />
      Here is a list of technologies that I use for work and side projects.
    </p>

    <!-- Technologies -->
    <Technology client:visible />
  </section>

  <!-- Projects Section -->
  <section class="pb-6 px-3 group/title">
    <!-- Projects Title -->
    <h2 class="mb-4 text-3xl tracking-tight">
      <Title title="Projects" client:visible />
    </h2>
    <!-- Projects Blurb -->
    <p class="w-full mb-8 font-normal leading-7">
      I am a big advocate of learning by doing.
      <br />
      Here are some of the projects that I have built in my spare time.
    </p>
    <!-- Projects -->
    <div class="grid grid-cols-1 gap-4">
      {
        PROJECTS.map((project) => {
          return (
            <Project project={project} client:visible>
              {project.githubUrl && (
                <a
                  href={project.githubUrl}
                  title="Source Code"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="z-20 w-5 h-5 ml-3 text-zinc-100 hover:text-orange-400 focus:text-orange-400 hover:scale-110"
                >
                  <Icon name="fa:github" />
                </a>
              )}

              {project.liveUrl && (
                <a
                  href={project.liveUrl}
                  title="Live Preview"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="z-20 w-5 h-5 ml-3 text-zinc-100 hover:text-orange-400 focus:text-orange-400 hover:scale-110"
                >
                  <Icon name="fa-solid:external-link-alt" />
                </a>
              )}
            </Project>
          )
        })
      }
    </div>
  </section>

  <!-- Footer Section -->
  <footer class="px-3">
    <ul
      class="flex justify-end list-none gap-5 w-full border-t border-zinc-600 pt-3 mt-3"
    >
      {
        SOCIAL_LINKS.map((link) => {
          return (
            <NavLinks newTab url={link.url}>
              <Icon class="w-[20px] h-[20px] mr-2" name={link.icon} />
            </NavLinks>
          )
        })
      }
    </ul>
    <!-- Copyright -->
    <div class="inline-flex justify-start w-full pt-3">
      &copy; Copyright {new Date().getFullYear()} by Dmitriy Kagno.
      <br />
      All Rights Reserved.
    </div>
  </footer>
</BaseLayout>
