---
import Meta from "@src/components/Meta.astro"
import Header from "@src/components/Header.astro"
import Hero from "@src/components/Hero.astro"
import Footer from "@src/components/Footer.astro"
import Toolbox from "@src/components/Toolbox.astro"
import Projects from "@src/components/Projects.astro"

import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  AVATAR,
  TOOL_BOX,
  PROJECTS,
} from "@src/Data"
---

<!DOCTYPE html>
<html lang="en">
  <!-- Meta -->
  <head>
    <Meta title={SITE_TITLE} description={SITE_DESCRIPTION} image={AVATAR} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <Hero image={AVATAR} />
    <Toolbox toolbox={TOOL_BOX} />
    <Projects projects={PROJECTS} />
    <Footer />
  </body>
</html>
